/* Write your CSS code here */
.lists {
  border-bottom: 1px solid #9aa5b1;
  width: 100%;
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: #12022f;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
}

.date {
  color: #9aa5b1;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: normal;
}

.para {
  color: #9aa5b1;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: normal;
}
